<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Ini adalah halaman utama V.3 Updated via CI/CD Gitlab :D</p>
    <p>Testing deploy automation..</p>
    <p>31/05/2023</p>
  </body>
</html>
